name: Fintech Automation Suite
on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
      - uses: actions/checkout@v4

      - name: Build & Run Tests
        run: docker-compose up --build --exit-code-from tests

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: Automation_Suite/test-results/
          retention-days: 7
